
.signup{
  background-color: rgba(185, 10, 68,0.3);
  color:blanchedalmond;
  border-radius: 20px;
  padding:10px;
  padding-bottom:25px;
  width:100%;
  border: 5px solid  rgba(238, 228, 231, 0.3) ;
}
.input{
  display: flex;
  align-content: space-evenly;
  justify-content: center;
  gap:20px;
  padding-bottom: 30px;
}
.button{
 display: block;
 text-align: left;
 margin: auto;
 color: blanchedalmond;
 background-color: rgba(112, 10, 44, 0.3);
 border: 5px solid  rgba(238, 228, 231, 0.3) ;
}
.success{
  font-weight: bold;
  color:greenyellow;
}
.error{
  color:orangered;
}